/* Overrides https://raw.githubusercontent.com/vuejs/vitepress/main/src/client/theme-default/styles/vars.css */

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-code-font-size: 13px;

  --vp-custom-block-info-border: var(--t-info);
  --vp-custom-block-info-text: var(--p-info);
  --vp-custom-block-info-bg: var(--h-info);
  --vp-custom-block-info-code-bg: var(--h-info);

  --vp-custom-block-tip-border: var(--t-sucess);
  --vp-custom-block-tip-text: var(--p-sucess);
  --vp-custom-block-tip-bg: var(--h-sucess);
  --vp-custom-block-tip-code-bg: var(--h-sucess);

  --vp-custom-block-warning-border: var(--t-warning);
  --vp-custom-block-warning-text: var(--p-warning);
  --vp-custom-block-warning-bg: var(--h-warning);
  --vp-custom-block-warning-code-bg: var(--h-warning);

  --vp-custom-block-danger-border: var(--t-danger);
  --vp-custom-block-danger-text: var(--p-danger);
  --vp-custom-block-danger-bg: var(--h-danger);
  --vp-custom-block-danger-code-bg: var(--h-danger);

  --vp-custom-block-details-border: var(--vp-c-divider-light);
  --vp-custom-block-details-text: var(--vp-c-text-2);
  --vp-custom-block-details-bg: var(--vp-c-white-soft);
  --vp-custom-block-details-code-bg: var(--vp-c-gray-light-4);
}

.dark {
  --vp-custom-block-info-border: var(--vp-c-divider-light);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-black-mute);
  --vp-custom-block-info-code-bg: var(--vp-c-gray-dark-4);

  --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
  --vp-custom-block-tip-text: var(--vp-c-green-light);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-3);
  --vp-custom-block-tip-code-bg: var(--vp-custom-block-tip-bg);

  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-text: var(--vp-c-yellow-light);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-3);
  --vp-custom-block-warning-code-bg: var(--vp-custom-block-warning-bg);

  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-text: var(--vp-c-red-light);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-3);
  --vp-custom-block-danger-code-bg: var(--vp-custom-block-danger-bg);

  --vp-custom-block-details-border: var(--vp-custom-block-info-border);
  --vp-custom-block-details-text: var(--vp-custom-block-info-text);
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
  --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);
}
