/* ------------------------------------------------------------- IMG Round ---------------------------------------------------- */
.a-round-img, .a-round-img-xl, .a-round-img-sm, .a-round-img-xs{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0.5em;
}
.a-round-img-xl {
  width: 90px;
  height: 90px;

}
.a-round-img {
  width: 65px;
  height: 65px;
}
.a-round-img-sm {
  width: 40px;
  height: 40px;
  margin: 0em 0.3em;
}
.a-round-img-xs {
  width: 30px;
  height: 30px;
  margin: 0em 0.3em;
}
