:root {
  --white: #fff;

  --p-primary: #437cb5;
  --h-primary: #d0e0fc;
  --t-primary: #0b3d91;

  --p-danger: #c7736b;
  --h-danger: #f2dede;
  --t-danger: #a94442;

  --p-waring: #c9a749;
  --h-waring: #fcf8e3;
  --t-waring: #8a6d3b;

  --p-light: #868a8f;
  --h-light: #e9e7e7;
  --t-light: #61605f;

  --p-sucess: #529e4f;
  --h-sucess: #dff0d8;
  --t-sucess: #3c763d;

  --p-info: #62b1b5;
  --h-info: #d9edf7;
  --t-info: #31708f;

  --p-secondary: #a84fb0;
  --h-secondary: #f0d8ff;
  --t-secondary: #6b2498;

  --ivory: #fdf4f1;
  --light-hover-gray: #f7f7f7;
  --light-border-gray: #d8d8d8;
  --medium-border-gray: #c5c4c4;
}
